<!-- begin ui-view -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Brightline</a>
		</div>
		<div id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">Dashboard</a>
				</li>
				<li>
					<a href="goToSettings()">Settings</a>
				</li>
				<li>
					<a ng-click="goToProfile()">Profile</a>
				</li>
				<li>
					<a href="#">Help</a>
				</li>
			</ul>
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search...">
			</form>
		</div>
	</div>
</nav>
<div class="jumbotron text-center">
	<h1>Welcome to<br>Brightline</h1>
</div>
