<!-- begin ui-view -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Brightline</a>
		</div>
		<div id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#">Dashboard</a>
				</li>
				<li>
					<a ng-click="goToSettings()">Settings</a>
				</li>
				<li>
					<a ng-click="goToProfile()">Profile</a>
				</li>
				<li>
					<a ng-click="goToHelp()">Help</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="jumbotron text-center">
	<h1>{{testMessage}}</h1>
</div>
