
.jumbotron {
	background: url('img/Gavel.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding: 450px 0px;
}

#login-wrapper {
	background-color: grey;
}
