<!-- begin ui-view -->
<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Brightline</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button ng-click="openLeftMenu()">Menu</md-button>
      <md-button ng-click="logout()">Logout</md-button>
    </div>
  </md-toolbar>
  <md-sidenav md-component-id="left" class="md-sidenav-left">
    <md-content>
    	<h3>Hello World!</h3>
    </md-content>
  </md-sidenav>
  <div layout="row">

	<md-content flex offset="5" layout-padding>
		
		<h1 layout layout-align="center center">Modules</h1>

		<!-- card 1 -->
		<md-card class="md-whiteframe-z1">
			<md-card-content>
		 		<h3 layout layout-align="center center">Merger Clause</h3>
		   		<p>This Agreement contains the parties' entire agreement. By signing below, the parties acknowledge that this ...</p>
		 	</md-card-content>
		 	<div class="md-actions" layout="row" layout-align="end center">
		   		<md-button>Edit</md-button>
		 	</div>
		</md-card>

		<!-- card 2 -->
		<md-card class="md-whiteframe-z1">
			<md-card-content>
		 		<h3 layout layout-align="center center">Choice of Venue</h3>
		   		<p>The parties hereby agree that all cases and controversies that arise under the terms of this Agreement shall be governed by the State of California.</p>
		 	</md-card-content>
		 	<div class="md-actions" layout="row" layout-align="end center">
		   		<md-button>Edit</md-button>
		 	</div>
		</md-card>

		<!-- card 3 -->
		<md-card class="md-whiteframe-z1">
			<md-card-content>
		 		<h3 layout layout-align="center center">Typeface</h3>
		   		<p>The parties hereby agree that all cases and controversies that arise under the terms of this Agreement shall be governed by the State of California.</p>
		 	</md-card-content>
		 	<div class="md-actions" layout="row" layout-align="end center">
		   		<md-button>Edit</md-button>
		 	</div>
		</md-card>
	
	</md-content>

	<md-content flex="60" layout-padding>

		<h1 layout layout-align="center center">Current Contract</h1>

		<md-card class="md-whiteframe-z3">
			<md-card-content>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi obcaecati possimus dignissimos eos odit, aut ipsam harum illo provident eum minima beatae. Commodi reiciendis consequuntur dicta cumque laboriosam deserunt provident. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi obcaecati possimus dignissimos eos odit, aut ipsam harum illo provident eum minima beatae. Commodi reiciendis consequuntur dicta cumque laboriosam deserunt provident.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi obcaecati possimus dignissimos eos odit, aut ipsam harum illo provident eum minima beatae. Commodi reiciendis consequuntur dicta cumque laboriosam deserunt provident. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi obcaecati possimus dignissimos eos odit, aut ipsam harum illo provident eum minima beatae. Commodi reiciendis consequuntur dicta cumque laboriosam deserunt provident.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi obcaecati possimus dignissimos eos odit, aut ipsam harum illo provident eum minima beatae. Commodi reiciendis consequuntur dicta cumque laboriosam deserunt provident. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi obcaecati possimus dignissimos eos odit, aut ipsam harum illo provident eum minima beatae. Commodi reiciendis consequuntur dicta cumque laboriosam deserunt provident.</p>
			</md-card-content>
			<div class="md-actions" layout="row" layout-align="end center">
		  		<md-button class="md-fab"></md-button>
			</div>
		</md-card>

	</md-content>

	<md-content flex="5" layout-padding></md-content>

  </div>
</div>
