<!-- begin ui-view -->
<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Brightline</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button ng-click="openLeftMenu()">Menu</md-button>
      <md-button ng-click="logout()">Logout</md-button>
    </div>
  </md-toolbar>
  <md-sidenav md-component-id="left" class="md-sidenav-left">
    Left Nav!
  </md-sidenav>
  <div layout="row">

	<md-content flex offset="5" layout-padding>

		<md-card>
			<md-card-content>
		 		<h2>Merger Clause</h2>
		   		<p>This Agreement contains the parties' entire agreement. By signing below, the parties acknowledge that this ...</p>
		 	</md-card-content>
		 	<div class="md-actions" layout="row" layout-align="end center">
		   		<md-button>Edit</md-button>
		   		<md-button>Delete</md-button>
		 	</div>
		</md-card>

		<md-card>
			<md-card-content>
		 		<h2>Choice of Venue</h2>
		   		<p>The parties hereby agree that all cases and controversies that arise under the terms of this Agreement shall be governed by the State of California.</p>
		 	</md-card-content>
		 	<div class="md-actions" layout="row" layout-align="end center">
		   		<md-button>Edit</md-button>
		   		<md-button>Delete</md-button>
		 	</div>
		</md-card>
	
	</md-content>

	<md-content flex="60" layout-padding>

		<md-card>
			<md-card-content>
				<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi obcaecati possimus dignissimos eos odit, aut ipsam harum illo provident eum minima beatae. Commodi reiciendis consequuntur dicta cumque laboriosam deserunt provident.</h4>
			</md-card-content>
			<div class="md-actions" layout="row" layout-align="end center">
		  		<md-button>Export</md-button>
			</div>
		</md-card>

	</md-content>

	<md-content flex="5" layout-padding></md-content>

  </div>
</div>
