<!-- begin ui-view -->
<div layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Brightline</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button ng-click="goToDashboard()">Dashboard</md-button>
      <md-button ng-click="openLeftMenu()">Menu</md-button>
      <md-button ng-click="logout()">Logout</md-button>
    </div>
  </md-toolbar>
  <md-sidenav md-component-id="left" class="md-sidenav-left">
    <md-content>
      <md-card>
        <p layout layout-align="center center">Menu</p>
      </md-card>
      <md-card ng-click="goToSettings()">
        <p layout layout-align="center center">Settings</p>
      </md-card>
      <md-card ng-click="goToModules()">
        <p layout layout-align="center center">Modules</p>
      </md-card>
    </md-content>
  </md-sidenav>
  <div layout="row">
    <md-content flex offset="20" layout-padding>
      <md-card class="md-whiteframe-z2">
        <h1 layout layout-align="center center">New Module</h1>
        <md-card-content>
          <p>Hello Boulder</p>
        </md-card-content>
      </md-card>
    </md-content>
    <md-content flex="20" layout-padding></md-content>
  </div>
</div>
